<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Vampiro+One" rel="stylesheet">
  <style>
  @-webkit-keyframes mymove {
  0%   {color: red;}
  25%  {color: blue;}
  50%  {color: yellow;}
  75%  {color: green;}
  100% {color: red;}
  }

  /* Standard syntax */
  @keyframes mymove {
  0%   {color: red;}
  25%  {color: blue;}
  50%  {color: yellow;}
  75%  {color: green;}
  100% {color: red;}
  }
  </style>
</head>
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" style="font-family: 'Vampiro One';
      font-weight: bold;
      color: black;
      font-color:red">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://samirjha.herokuapp.com">
          <img alt="Brand" src="https://samirjha.herokuapp.com/favicon.ico">
          View All Top Charts!! <b style="animation: mymove 5s infinite;" onclick="window.open('http://last.fm')">(Data fetched from: www.last.fm)</b>
        </a>
      </div>
    </div>
  </nav>
</header>
<body style="padding-top: 70px;padding-left:2%;padding-right:2%;font-family: 'Vampiro One', cursive;background-image:url('http://www.drodd.com/images15/music9.jpg')">
<div style="height:80%;width:100%;opacity:0.8;color:black">
  <table id="example" class="table table-striped table-bordered hover" cellspacing="2" width="100%">
    <thead style="opacity:1;background-color:white;padding:5%">
    <tr><th class="site_name">Name</th><th>Artist </th><th>listeners</th><th>url</th><th>Image</th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script>
  $( document ).ready(function() {
    var com ="com";
    $.get("https://ipinfo.io", function(response) {
      console.log(response.city, response.country);
    }, "jsonp");
    $('#example').DataTable( {
      ajax: {
        url:"https://ws.audioscrobbler."+com+"/2.0/?method=chart.gettoptracks&api_key=66418c77a86becf1efcbf16f6d1c4402&format=json",
        dataSrc: "tracks.track"
      },
      columns: [
        { "data": "name" ,
          "render": function ( data, type, full, meta ) {
            return '<h4 class="text-secondary" style="font-family: Vampiro One, cursive;"> '+data+'</h4>';}},
        { "data": "artist.name"},
        { "data": "listeners" },
        { "data": "url",
          "render": function ( data, type, full, meta ) {
            return '<a href="'+data+'" target="_blank">View</a>';}},
        { "data": "image",
          "render": function ( data, type, full, meta ) {
            return '<img src= "'+data[2]['#text']+'" style="border-radius: 40%;border-style:dashed; border-width: thick;border-color: black;" </img>';}}

      ]
    } );
  });
</script>
</body>
</html>