<html>
<head>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Raleigh",
        "addressRegion": "NC",
        "postalCode": "27606",
        "streetAddress": "2704 H"
      },
      "email": "mailto:samirjha1525@gmail.com",
      "image": "samir.jpg",
      "jobTitle": "Software Developer",
      "name": "Samir Jha",
      "alumniOf": "NC State University",
      "birthPlace": "Bokaro, IN",
      "birthDate": "1990.08.15",
      "height": "5'11",
      "gender": "Male",
      "nationality": "Indian",
      "url": "http://www.samirjha.com",
	    "sameAs" : [ "https://www.facebook.com/",
      "https://www.linkedin.com/",
      "http://twitter.com/",
      "http://instagram.com/",
      "https://plus.google.com/"]
    }
    </script>
</head>
<style>
  video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
  nav
  {
    opacity:0
  }
</style>
<script>
  $( document ).ready(function() {

    document.getElementById('bgvid').addEventListener('ended', function () {
      window.location = '/home';
    });
  })
  </script>
<video playsinline autoplay muted id="bgvid">
  <source src= <%= asset_path 'SamirJha.mp4' %>; type="video/mp4">
</video>
<div id = "button"></div>
<%= button_to( home_path, method: :get, :style=>'animation: spin 5s infinite;font-family: Fredericka the Great, sans-serif;position:fixed;right:0;bottom:0%' , :class => 'btn btn-danger navbar-btn btn-block btn-lg')  do%>
    <span class="glyphicon glyphicon-globe" aria-hidden="true"><i> Go to Website</i></span>
<%end%>
</div>

</html>