<div class = "container" style="display:block;position: relative;bottom: 0;left:0;right:0;opacity:100 ;width:auto;height: 5%">
      <div id= "footer" class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
          <b>No Copyrights!!</b>
        </div>
        <div class="col-sm-2">
          <b><a href="mailto:samirjha1525@gmail.com">Email Me!!</a></b>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
  </div>